<!DOCTYPE html>
<html>
<head>
    <title>天気アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <h1>たかはしドットコム</h1>


    <script>
function getLocation() {
  navigator.geolocation.getCurrentPosition((position) => {
    const lat = position.coords.latitude;
    const lon = position.coords.longitude;

    // ★ここが重要
    window.location.href = `/?lat=${lat}&lon=${lon}`;
  }, () => {
    alert("位置情報が取得できません");
  });
}
</script>

    <form method="post">
        <input type="text" name="city" placeholder="都市名">
        <button type="submit">検索</button>
    </form>

    {% if weather %}
        {% if weather is string %}
            <p>{{ weather }}</p>
        {% else %}
            <h2>{{ weather.city }}</h2>
            <p>{{ weather.temp }} ℃</p>
            <p>{{ weather.desc }}</p>
        {% endif %}
    {% endif %}
</body>
</html>